body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div > * {
  max-width: 650px;
}

/* Header styles */
header {
  width: 100%;
  text-align: center;
}

.signInButton {
  display: block;
  margin: 8px 24px 0 auto;
}

h1,
h1 + p {
  margin-top: 6px;
}

/* Post Styles */
.postHolder {
  margin-top: 32px;
  list-style: none;
}

hr,
h2 {
  margin-top: 16px;
}

ul h2+p {
  margin-top: 6px;
}