.fontSizeHeadingLarge {
  font-size: 2.2rem;
}

.marginTopSmall {
  margin-top: 6px;
}

.marginTopMedium {
  margin-top: 12px;
}

.marginTopXMedium {
  margin-top: 16px;
}

.marginTopLarge {
  margin-top: 24px;
}

.marginTopXLarge {
  margin-top: 32px;
}

/* header styles */
.navButton {
  min-width: 74px;
  min-height: 32px;
  margin: 8px 24px 0 auto;
}

/* card styles */
.card {
  border: 1px solid gray;
  border-radius: 12px;
}

.formCard {
  composes: card;
  composes: marginTopLarge;
  min-width: 350px;
  padding: 24px 20px;
}

.cardTitle {
  margin-top: 0;
  margin-bottom: 18px;
  text-align: center;
}

.cardLabel {
  composes: marginTopMedium;
  display: block;
}

.cardInput {
  display: block;
  height: 36px;
  width: 100%;
}

.cardSubmitButton {
  min-width: 100px;
  margin: 24px auto 0 auto;
}

.error {
  width: 100%;
  text-align: center;
  color: red;
}
